/*
 * === Places class style ===
 */

/* Places style */
.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
}

.places h1 {
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	margin: .67em 0 .67em 0;
}	
.places h2 {
	font-size: 30px ;
	font-weight: bold;
	text-align: center;
}

/* Swap to vertical layout for small screens */
@media only screen and (max-width: 720px) {
  .filters {
    display: grid;
    height: 210px;
  }

  .filters .locations,
  .filters .amenities {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .filters .locations:hover .popover,
  .filters .amenities:hover .popover {
    margin-left: auto;
    position: relative;
    width: 50%;
    z-index: 1;
  }

  .filters .amenities:hover {
    border-top: 1px solid #ddd;
  }
}

/*
 * --- Filters header style ---
 */

/* Header box sizing */
.filters h2,
.filters h3,
.filters h4 {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

/* Header 2 style */
.filters h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 12px auto 0 30px;
}

/* Header 3 style */

